name: Build Kernel

on:
  workflow_dispatch:
    inputs:
      BRANCH:
        description: Kernel branch
        default: 'main'
        required: true
      SELINUX_PERMISSIVE:
        description: Permissive SELinux
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Kernel Source
        uses: actions/checkout@v4
        with:
          repository: rasolarmand114-tech/exlinux-a12s-
          path: kernel_root
          ref: ${{ github.event.inputs.BRANCH }}
          show-progress: false
          fetch-depth: 0

      - name: Prepare dependencies + fetch tags
        run: |
          sudo apt update -y
          sudo apt install bc cpio flex bison aptitude git python-is-python3 tar perl wget curl lz4 -y
          sudo aptitude install libssl-dev -y
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          git fetch --tags --force
        working-directory: kernel_root

      
      - name: Set timezone (Asia/Kolkata)
        run: |
          sudo rm /etc/localtime
          sudo ln -s /usr/share/zoneinfo/Asia/Kolkata /etc/localtime

      - name: Build kernel
        id: buildKernel
        run: |
          export PATH=$(pwd)/toolchain/proton-clang/bin:$PATH
          export CROSS_COMPILE=$(pwd)/toolchain/proton-clang/aarch64-linux-gnu/bin/
          export CROSS_COMPILE_ANDROID_PROTON="(pwd)/toolchain/proton-clang/bin/aarch64-linux-gnu-
          export CROSS_COMPILE_ANDROID_AARCH64_LINUX_GNU=$(pwd)/toolchain/proton-clang/aarch64-linux-gnu/bin


          export CLANG_TRIPLE=aarch64-linux-gnu-
          export KBUILD_BUILD_USER="exlinux"
          export KBUILD_BUILD_HOST="github"
          export BUILD_START=`date`
          export IS_CI=true
          

          export DEFCONFIG="exlinux_defconfig"
          export DEVICE_ID="A12s"
          export KERNEL_SOURCE="https://github.com/rasolarmand114-tech/exlinux-a12s-"

          if [[ "${{ github.event.inputs.SELINUX_PERMISSIVE }}" == 'true' ]]; then
          echo "Switching SELinux to Permissive mode..."

          
          # Set permissive mode in defconfig
          echo "CONFIG_SECURITY_SELINUX_ALWAYS_PERMISSIVE=y" >> arch/arm64/configs/$DEFCONFIG
          grep "PERMISSIVE" arch/arm64/configs/$DEFCONFIG
    
          SELINUX_STATE="Permissive"
          else
          SELINUX_STATE="Enforcing"
          fi

          # Show final SELinux state
          echo "SELinux is set to: $SELINUX_STATE"

          bash $(pwd)/build_kernel.sh kernel --jobs $(nproc --all) $DEFCONFIG

        
          echo -e "Localversion: $(./scripts/setlocalversion)\n\nClang version: $(clang -v 2>&1 | grep ' version ' | sed 's/[[:space:]]*$//')\n\nBuild: $BUILD_START\n\nDefconfig: $DEFCONFIG\n\nSELinux: $SELINUX_STATE\n\nKernelSU-Next: $KSU_VERSION\n\nSUSFS: $SUSFS_VERSION\n\nSource: $KERNEL_SOURCE" > buildDetails.txt

          mv .config build_config.txt
          gitsha1=$(git rev-parse --short HEAD)
          buildDetails="`make kernelversion`-`echo $DEVICE`_`echo $gitsha1`-`date +'%Y%m%d%H%M%S'`" && echo "buildDetails=$buildDetails" >> $GITHUB_OUTPUT
        working-directory: kernel_root   

      - name: Upload kernel images
        uses: actions/upload-artifact@v4
        with:
          name: Kernel-${{ steps.buildKernel.outputs.buildDetails }}
          path: |
            kernel_root/arch/arm64/boot/Image.gz
            kernel_root/arch/arm64/boot/dts/exynos/*.dtb
            kernel_root/arch/arm64/boot/dts/samsung/*.dtb


      
